
.dotnet/
.vscode-server/
.bash_history
.python_history
.cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.log.*

# Data files
data/*
example_input_data/*
runs/*
controls.tar.gz
template.tar.gz

user_settings.json

# ignore everything in img folder except the app_icon.png
thumbnails/*
