{% from 'forms.html' import input as input_field, radio as input_radio %}
{% extends 'base.html' %}
{% block title %}Disconnectome{% endblock %}
{% block head_scripts %}
async function pick_file() {
document.getElementById('generateLesionVisitationMaps').classList.add("loading");


document.getElementById('subjectID').setAttribute('disabled', "");


let subject = document.getElementById('subjectID').value;

// Call into Python so we can access the file system
let random_filename = await eel.step3(subject)();
document.getElementById('generateLesionVisitationMaps').classList.remove("loading");

document.getElementById('subjectID').removeAttribute("disabled");

}
{% endblock %}

{% block content %}

<form id="generateLesionVisitationMaps" method="post" onsubmit="pick_file(); return false;">
  <h2>generateLesionVisitationMaps</h2>
  <p>
    Required fields are followed by
    <strong><span aria-label="required" class="required">*</span></strong>.
  </p>


  <h4>Subject data</h4>
  <p>
    {{ input_field(id='subjectID', name="subject", text='Subject ID')
    }}
  </p>


  <p><button id="submitButton" type="submit" class="button-primary">Submit</button></p>

</form>

{% endblock %}
