{% extends 'base.html' %}
{% block title %}Disconnectome{% endblock %}
{% block head_scripts %}
{% include "script.js" %}
{% endblock %}
{% block content %}

<aside class="sidebar">
  <button type="button" onclick="expandAll()">Expand All</button>
  <button type="button" onclick="collapseAll()">Collape All</button>
  <json-viewer id="json"></json-viewer>
</aside>
<article class="container">
  {% include "start.html" %}
  {% include "step1.html" %}
  {% include "step1A.html" %}
  {% include "step2.html" %}
  {% include "result.html" %}
  <div class="progress_container">
    <div class="progress" id="progress"></div>
    <div class="circle active">
      <span>1</span>
      <svg class="check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </div>
    <div class="circle">
      <span>2</span>
      <svg class="check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </div>
    <div class="circle">
      <span>3</span>
      <svg class="check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </div>
  </div>
</article>
<aside class="output">
  <h4>Image Data</h4>

  <dl>
    <dt>3D Brain Image</dt>
    <dd id="brainImageOutput"></dd>

    <dt>3D Brain Lesion Mask</dt>
    <dd id="brainLesionMaskOutput"></dd>

    <dt>Lesion Image</dt>
    <dd id="lesionOutput"></dd>

    <dt>3D Brain Image Type</dt>
    <dd id="typeOutput"></dd>

  </dl>

  <h4>Subject data</h4>

  <dl>
    <dt>Subject ID</dt>
    <dd id="subjectOutput"></dd>

    <dt>Subjects gestational age, in weeks</dt>
    <dd id="ageOutput"></dd>

  </dl>
</aside>
{% endblock %}
