{% from 'forms.html' import radio as input_radio %}

<form id="form0">
  <h3>Start a new Run</h3>
  <div>
    <label for="runsFolder" class="label">
      Please set the runs folder where the output will be saved to
    </label>
    <input type="text" name="runsFolder" id="runsFolder" onclick="getFolder()" required />
  </div>

  <fieldset>
    <legend>Lesion map already warped to DHCP template image?</legend>
    {{ input_radio(id='yes', name="skipStep1", text='YES',
    value="yes") }}
    {{ input_radio(id='no', name="skipStep1", text='NO',
    value="no") }}
  </fieldset>

  <button id="start" type="button">Start</button>

</form>
