{% from 'forms.html' import input as input_field, select as input_select %}

<form id="form1">
  <h3>Warp Subject Image and Lesion Mask To Age Matched Template</h3>

  <h4>Image Data</h4>
  <div>
    <label for="3DBrainImage" class="label">
      3D Brain Image in NIFTI Format
    </label>
    <input type="text" name="brainImage" id="3DBrainImage" onclick="getFile(event)" required />
  </div>
  <div>
    <label for="3DBrainLesionMask" class="label">
      3D Brain Lesion Mask in NIFTI Format
    </label>
    <input type="text" name="brainLesionMask" id="3DBrainLesionMask" onclick="getFile(event)" required />
  </div>
  <div>
    {{ input_select(id='brainType', name="type", text='Select type of brain image:', options=["T1w","T2w"]) }}
  </div>

  <h4>Subject data</h4>
  <div>
    {{ input_field(id='subjectID', name="subject", text='Subject ID')
    }}
  </div>
  <div>
    {{ input_field(id='gestationalAge', name="gestation", text='Subjects gestational age, in weeks',
    type="number",step="0.01")
    }}
  </div>

  <button id="next1" type="button">Next</button>
</form>
